/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*All page styling*/
 header {
   /*background-color: grey;*/
   margin-bottom: 70px;
 }

li {
  list-style-type: none;
}

/*navigation bar styling*/
nav ul{
  display:grid;
  grid-template-columns: .3fr .2fr .2fr;
  grid-template-rows: repeat(2,auto);
  align-content: flex-end;
}
nav li {
  justify-content: space-around;
  border: 2px solid #000000;
  text-align: center;
  /*padding: 30px;*/
  /*margin: 5px;*/
  align-self: center;
}
nav a {
  text-decoration:none;
}

nav li:nth-child(1) {
  font-size: 30px;
  border: none;
}

nav li:nth-child(2) {
  font-size: 30px;
  border: none;
}

nav li:nth-child(3) {
  font-size: 30px;
  border: none;
}
nav li:nth-child(4) {
  grid-column: 2;
}
nav li:nth-child(5) {
  grid-column: 3
}
.details {
  text-align: center;
}
.details {
  text-align: center;
  padding-bottom: 10px;
}
.details strong {
  font-size: 20px;
}
