// Place all the styles related to the passengers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.details {
  text-align: center;
}
.passenger_details {
  text-align: center;
  padding-bottom: 10px;
}
.passenger_details strong {
  font-size: 20px;
}

/*passenger show page styling*/
.trips_table {
  display:grid;
  width: 90%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  border-top: 2px solid grey;
}

.trips_table li {
  border-right: 2px solid grey;
  text-align: center;
}

.trips_table li:last-child {
  border-right:none;
}
