<!DOCTYPE html>
<html>
  <head>
    <title>RideshareRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>RideShare</h1>
    </header>
    <nav>
      <ul>
        <li>
          Add Driver
        </li>
        <li>
          Add Passenger
        </li>
      </ul>
    </nav>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p>
        &copy; Luxi & Kiera, 2018
      </p>
    </footer>

  </body>
</html>
